:root{
    ---bg-light: #f5f5f5;
    ---btn-color: #0b75b7;
    ---btn-active: #08588a;
    ---text-light: #fff;
    ---text-dark: #333;
}

body{
  background: linear-gradient(90deg, rgb(46, 156, 219) 0%, rgb(17, 150, 155) 100%);
}
.title{
  text-align: center;
  color: var(---text-light);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
  gap: 3rem;
}
.content{
  display: flex;
  flex-direction: column;
  background-color: var(---bg-light);
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}
.quantidade{
  font-weight: bold;
  text-align: end;
}
.image-holder{
  width: 100%;
}
.answers{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.answer,
button{
  width: 100%;
  text-align: start;
  padding: .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(---btn-color);
  color: var(---text-light);
  transition: .2s;
  font-size: 1.1rem;
}
.answer:hover{
  background-color: var(---btn-active);
}
.finish{
  display: none;
  flex-direction: column;
  background-color: var(---bg-light);
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
}
.finish button{
  text-align: center;
}